.notes-not-found {
    font-size: 24px;
    font-family: roboto-regular;
    text-align: center;
}

.notes-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.pagination-container {
    display: flex;
    margin-top: auto;
    background-color: #ffffff;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
    z-index: 4;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
    list-style: none;
    margin: 0 auto;
}

.pagination__link {
    background-color: #4BF1D8;
    padding: 0.5rem;
    border-radius: 5px;
}

.pagination__link:hover,
.pagination__link--active:hover {
    box-shadow: 0 0 0.5rem hsl(0, 0%, 68%);
}

.pagination__link--active {
    background-color: #4BF1D8;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
}


.pagination li {
    cursor: pointer;
}

.pages {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: min-content;

    padding: 1rem;
    flex-wrap: wrap;
}

.addNote-btn {
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.5rem;
    background-color: #4BF1D8;
    cursor: pointer;


}

.addNote-btn:hover {
    box-shadow: 0 0 0.4rem rgb(201, 201, 201);
}

.addNote-btn img {
    width: 1rem;
    margin-left: 0.5rem;
}