@font-face {
  font-family: roboto;
  src: url('./fonts/Roboto-Bold.ttf');
  font-family: roboto-regular;
  src: url('./fonts/Roboto-Regular.ttf');
}

.app {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  position: relative;

}